@import "../base/mixins.scss";

.cta-btn{
    @include button-style;

    a{
        color: inherit;
        text-decoration: none;
    }
}

.landingpage{
    min-height: 100vh;
    width: 100%;
    background-color: blue;

    .sections{
        width: 100%;
        min-height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            min-height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}