@import "../base/globals.scss";

.formContainer {
//   width: 100%;
  height: 100vh;
  background-color: white;

  .container {
    width: 90%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    margin: 0 auto;
  }

  .image-wrapper {
    max-width: 500px;
    height: 500px;
    margin: 0;
    padding: 10px 30px;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  #form {
    background-color: white;
    padding: 10px 39px;
    border-radius: 10px;

    h1{
        margin: 10px 0;
    }

    .logos{
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img{
        height: 100%;
        object-fit: fill;
      }
    }

    .use-email{
        margin: 0;

        &:hover{
            color: green;
        }
    }

    .error {
      width: 90%;
      height: 40px;
      display: block;
      color: rgb(123, 6, 6);
      background-color: rgb(241, 178, 178);
      text-align: center;
    }

    h1 {
      margin-top: 5px;
      color: $mainColor;
      text-align: center;
      font-weight: bold;
    }
    button {
      width: 100%;
      height: 60px;
      padding: 10px;
      border: none;
      background-color: $mainColor;
      color: white;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      margin: 15px 0px 15px;
      border-radius: 10px;
    }
    .confirm, .use-email{
      font-size: 14px;
      text-align: center;
      margin: 0 0 20px;
    }
    .signin {
      color: $mainColor;
      cursor: pointer;

      &:hover {
        color: blue;
      }
    }
  }
}


@media only screen and (min-width: 768px) {
    .formContainer{

        .container {
            flex-direction: row;
          }   
    }
}